<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<appSettings>
		<add key="DBAudits" value="C:/Users/bugar/OneDrive/Desktop/TBL_AUDIT.xml"/>
		<add key="DBLoads" value="C:/Users/bugar/OneDrive/Desktop/TBL_LOAD.xml"/>
		<add key="DBFiles" value="C:/Users/bugar/OneDrive/Desktop/TBL_IMPORTED_FILE.xml"/>
		<add key="CalcType" value="squared"/>
		<add key="DBType" value ="xml"/>
	</appSettings>
		<system.serviceModel>
			<services>
				<service name="Server.FileTransportService">
					<host>
						<baseAddresses>
							<add baseAddress="net.tcp://localhost:4000" />
						</baseAddresses>
					</host>
					<!-- Service Endpoints -->
					<endpoint address="IFileTransport" binding="netTcpBinding" contract="Common.IFileTransport"/>
				</service>
			</services>
		</system.serviceModel>

	</configuration>